<div class="well">
    <span style="font-size: 20px">Информация о подписке</span>
    <br />
    <br />
    {% if user.subscriptionDate %}
        Вы подписаны до {{ user.subscriptionDate | date('d.m.Y') }}
    {% else %}
        В настоящее время подписки нету
    {% endif %}
    <br />
    <br />
    {% for s in user.subscriptions %}
        <div class="row">
            <div class="col-xs-6">
                {{ s.created | date('d.m.Y') }}
            </div>
            <div class="col-xs-6">
                {{ s.price }}
            </div>
        </div>
    {% endfor %}
</div>

<div class="well">
    <span style="font-size: 20px">Информация</span>
    <br />
    <br />
    {{ render(controller('BankrotSiteBundle:Default:Message')) }}
</div>