{% extends "FOSUserBundle::layout.html.twig" %}

{% block page_header %}Регистрация{% endblock %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="Регистрация" class="btn btn-primary"/>
        </div>
    </form>

{% endblock fos_user_content %}