{% extends 'BankrotSiteBundle::layout.html.twig' %}

{% block content %}
    <h1 class="page-header">{% block page_header %}{% endblock %}</h1>

    <div class="row">
        <div class="col-sm-12">
            {% block fos_user_content %}{% endblock %}
        </div>
    </div>
{% endblock %}